extends ../layouts/default

block content
	if Contact.length
		each Get_InTouch in Contact
			section.banner
				img(src=Get_InTouch.image.one)
			.section-center
				h1.section-heading=Get_InTouch.title
					hr.underline
			section.container.pad
				div
					p.subheading.pad=Get_InTouch.heading.one
					img.mar(src=Get_InTouch.image.two)
				div
					p.section-para2=Get_InTouch.content.one
				.row
					.col-md-4.col-sm-4
						p.para=Get_InTouch.content.two
							<br><br>
							=Get_InTouch.content.three
							<br>
							=Get_InTouch.content.four
					.col-md-4.col-sm-4
						p.para <br>
							=Get_InTouch.content.five
					.col-md-4.col-sm-4
						p.para=Get_InTouch.content.six
							<br><br>
							=Get_InTouch.content.seven

				.col-md-5.col-sm-5.pad
					div
						h5=Get_InTouch.heading.two
					div
						form#form
							fieldset.pad
								input#cont_name.form-part(type='text', name='name', placeholder='Name', required='')
							fieldset.pad
								input#cont_email.form-part(type='email', name='email', placeholder='Email', required='')
							fieldset.pad
								input#cont_subject.form-part(type='text', name='subject', placeholder='Subject', required='')
							fieldset.pad
								textarea#cont_message.form-part1(type='textarea-18', name='message', placeholder='Message', required='')
							#return-text-contact
							fieldset.pad
								input.button1(type='submit', name='submit', value='SUBMIT', onclick="SUBMIT")
				.col-md-6.col-md-offset-1.col-sm-5.col-sm-offset-1.pad
					div
						h5=Get_InTouch.heading.three
						iframe.pad(src='https://www.google.com/maps/embed?pb=!1m12!1m8!1m3!1d14015.440589777996!2d77.240732!3d28.573961999999998!3m2!1i1024!2i768!4f13.1!2m1!1sArtisan+India!5e0!3m2!1sen!2sin!4v1487310940238', width='100%', height='450', frameborder='0', style='border:0', allowfullscreen='')
